<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041581420507-1vm20uv1d41rndm4cqtgji0qtth3jfsd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041581420507-1vm20uv1d41rndm4cqtgji0qtth3jfsd</string>
	<key>API_KEY</key>
	<string>AIzaSyBCZI-hoOIHYbVrjcEBMIGlLrL0ObLlqX0</string>
	<key>GCM_SENDER_ID</key>
	<string>1041581420507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cenkbahadircark.login-page-fireBase</string>
	<key>PROJECT_ID</key>
	<string>loginappfirebase-3eaea</string>
	<key>STORAGE_BUCKET</key>
	<string>loginappfirebase-3eaea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041581420507:ios:51e1b7faf8e497f50141fe</string>
</dict>
</plist>